.tw-citytablelist {
    position: relative;
}

.tw-loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.tw-loading span {
    display: block;
    color: #fff;
}

.cu-forminput {
    position: relative;
}

#tw-inputclear{
    color: rgb(204, 42, 2);
    position: absolute;
    right: 0;
    top: 0;
    padding: 0px 8px;
    background: none;
    z-index: 9;
    outline: none;
}